@media only screen and (max-width: 600px) and (min-width: 280px){
	@font-face {
		font-family: Pokemon Solid;
		src: url('../fonts/Pokemon\ Solid.ttf')
	}
body{
	
	background-color: rgb(248, 248, 196);
	
}
.home{
	border:1px solid transparent;
	background-image: url("../images/homeBackgroumd.gif");
	background-position: center;
	background-size: contain;
	min-height: 100vh;
}
.homeTitle{
	-webkit-text-stroke: 1px rgb(57, 225, 255);
	font-family: Pokemon solid;
	-webkit-text-stroke: 1px rgb(57, 225, 255);
	font-size: 55px;
	text-align: center;
	color: rgb(240, 144, 184);
	text-shadow: -7px -3px rgb(98, 98, 102), 3px 7px rgb(114, 105, 98);
}
.homePikachuDesktop {
	display: none;
}
.pikachu-home{
	
	margin-bottom:50px;
	width :60%;
	height: auto;
	align-self:center;
}
.container-home{
	display: flex;
	flex-direction: column;
}
/* .poke-bubble{
	background-color: #fefac8;
	width: 67%;
	height: 10%;
	align-self:center;
	margin-top: 8%;
} */
.typerDiv {
	background-image: url('../images/pokebubblebox.png');
	background-color:  rgb(245, 215, 248);
	align-self: center;
	width: 220px;
	height: 100px;
	font-family: 'Press Start 2P', cursive;
	font-size: 0.4rem;
	margin-top: 0;
	padding: 8px 1rem;
	
}
.home-button{
	font-family: 'Press Start 2P', cursive;
	margin-top: 70px;
	width: 80%;
	height: 50px;
	align-self:center;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	background-color: rgb(200, 248, 247);
	border-radius:10px;
}

/* Code for the mobile version goes in here, above this sentence. Do not write code below this line. */
}
@media only screen and (min-width: 600px){
	.title{
		font-family: Pokemon solid;
		font-size: 55px;
		text-align: center;
		color: rgb(255, 203, 5);
		text-shadow: -7px -3px 1px rgb(0, 58, 112), 3px 7px 1px rgb(61,125,202);
	}
	.pikachu-home {
		display:none;
	}
	.container-home{
		display: flex;
		flex-direction: column;
	}
	.homePikachuDesktop {
		display:flex;
		align-self: center;
		width:30%;
	}
	.poke-bubble{
		display:none;
	}
	.home-button{
		font-family: 'Press Start 2P', cursive;
		margin-top: 70px;
		width: 55%;
		height: 50px;
		align-self:center;
		font-family: 'Press Start 2P', cursive;
		font-size: 15px;
		margin-bottom: 5%;
		
	}
	.typerDiv {
		background-image: url('../images/pokebubblebox.png');
		width: 220px;
		height: 100px;
		font-family: 'Press Start 2P', cursive;
		font-size: 0.4rem;
		padding: 8px 1rem;
		align-self: center;
	}
}