.ingredients{
    border-top:1px solid rgb(41, 177, 240);
    background-image: url("../images/ingredientsBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: contain;
    min-height: 100vh;
}
.pikachu-ingredients{
    width: 30%;
    background-color: beige;
    border-radius: 100%;
    border : solid black;
}
.ingredients-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:2%;
    margin-bottom: 20px;
} 
.bubble-ingredients{
        background-image: url('../images/pokebubblebox.png');
		width: 220px;
		height: 100px;
		font-family: 'Press Start 2P', cursive;
		font-size: 0.4rem;
		padding: 8px 1rem;
		align-self: center;;
}
.ingredients-image{
    width: 30%;
    background-color: beige;
    border-radius: 100%;
    border : solid black;
    align-self: center;
    margin-bottom: 15px;;
}
.ingredients-section{
    display: flex;
    flex-direction: column;
    border-width: 50%;
}
figcaption{
    text-align: center;
}
.categoryCss{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.searchBar {
    width: 80%;
    height:10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-origin: content-box; */
    background-position: 2px 1px;
    padding-left: 22px;
    margin-bottom: 50px;
}
.ingredients-button{
	font-family: 'Press Start 2P', cursive;
    margin-top: 70px;
    margin-bottom: 50px;;
	width: 80%;
	height: 50px;
	align-self:center;
	font-family: 'Press Start 2P', cursive;
	font-size: 15px;
	background-color: rgb(200, 248, 247);
    border-radius:10px;
  
}
.basic-multi-select{    /*react select properties*/
   width: 95%;
   align-self: flex-end;
   font-family: 'Nerko One', cursive;
   font-size: 20px;
}
.css-yk16xz-control{        /* react select properties*/
    border-radius: 20px !important;
    border : solid black!important;
    margin-bottom: 30px !important;

}

.css-1pahdxg-control{           /* react select properties*/
    border-radius: 20px !important;
    border : solid black !important;
}

.css-1rhbuit-multiValue{            /* react select properties*/
    border-radius: 20px !important;   
}
.cheat{
    border:none;
    background-color:  rgb(200, 248, 247);
    width : 99.9%;
    height: 45px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}
.cheat2{
    
    background-color:  rgb(200, 248, 247);
    width : 99.9%;
    height: 45px;
}