@media only screen and (max-width: 600px) and (min-width:280px) {
.loading{
    background-color: black;
    border-top:1px solid black;
    background-image: url('../images/runningPika.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100vh;
}
.bubble-loading{
    font-size: 23px !important;
    color: white;
    
}
}