@media only screen and (max-width: 768px) and (min-width:280px) {
.loading{
    background-color: black;
    border-top:1px solid black;
    background-image: url('../images/runningPika.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100vh;
}
.bubble-loading{
    font-size: 23px !important;
    color: white;
    
}
.videoDesktop{
    display:none;
    
    
}
}





@media only screen and (min-width:769px) and (max-width:1920px) {
    .loading{
        display:none;
    }
    .bubble-loading{
        display: none;
    }
}