
.carousel .thumbs-wrapper{
    display: none !important;
}
.legend{
    font-family: 'Nerko One', cursive;
    font-size: 22px !important;
    color: black !important;
    margin-bottom: 0;
    background-color: beige !important;
    border: 1px solid black;
    padding: 2px !important;
}
.recipeContainer {
    background-color:#F5D7F8;
}
.recipeImg {
    object-fit: contain;
    padding: 45px 28px 85px 28px;
}
.carousel .carousel-status{
    display: none !important;
}
.carousel .slide .legend{
    opacity: 1 !important;
}
.carousel.carousel-slider{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100% !important;
    margin-top: 30px !important;
}
.carousel-root{
    padding-left: 0;
    padding-right: 0;
}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid black !important;
    display: none !important;
}
.carousel .control-prev.control-arrow:before {
    border-right: 8px solid black !important;
    display: none !important;
}
.carousel .control-dots .dot {
    margin-bottom: 5px !important;
}
.recipeStepsBox {
    background-color: bisque;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("https://cdna.artstation.com/p/assets/images/images/016/690/542/large/nathasha-padron-kitchen-details2.jpg?1553096258");
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0.5%;
    width: 98%;
    height: 98%;
    box-shadow: 50px 50px 280px 80px rgba(0,0,0,0.4);
    text-align: center;
    overflow-x: auto;
    font-family: 'Nerko One', cursive;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    color: white;
    -webkit-text-stroke: 1px white;
    padding-top: 15px;
}
.stepStyle {
    font-family: 'Nerko One', cursive;
    font-size: 1.7rem;
    margin-top: 10px;
    color: brown;
    -webkit-text-stroke: 1px honeydew;
}
#recipeButton {
    width: 9em;
    height: 2.5em;
    border-radius: 30px;
    font-size: 1.1rem;
    background-color: black;
}
.ingredientsAmount{
    font-family: 'Nerko One', cursive;
    font-size: 1.5rem;
    color: orange;
    -webkit-text-stroke: 1px honeydew;
}
.ingredientsAmount ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}
.ingredientsAmount ul li {
    margin: 0;
    padding-bottom: 0;
    margin-top: 18px;
    list-style-type: none;
    margin-bottom: 10px;
}
.ingredTitle{
    font-family: 'Nerko One', cursive;
    margin-top: 1rem;
    text-transform: capitalize;
    color: white;
    -webkit-text-stroke: 1px rgb(232, 82, 82);
}
.ingredStepsList {
    margin-bottom: 0;
    padding-top: 0;
}
.ingredientsButton{
    border : none;
    background-color: beige;
}