.recipeListContainer {
    border: 2px solid #FBF5C6;
    border-radius: 10px;
    height: 55vh;
    width: 90vw;
    margin: 0 auto;
    overflow-x: auto;
}
.recipeListContainer ul {
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height: inherit;
    width: inherit;
}
.recipeListContainer ul li {
    list-style-type: none;
    padding: 1rem 1rem;
    margin: 1rem;
    font-size: 90%;
    text-align: center;
}